* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.centro-linha {
    justify-content: center;
}

.centro-coluna {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

#sec-principal {
    height: 100vh;
    background-image: url(https://i.redd.it/uwwte8wps4h91.gif);
}

#div-principal {
    background-color: rgb(20, 20, 20);
    border-radius: 45px;
    border: 3px dotted whitesmoke;
    width: 21vw;
    height: 24vh;
    color: white;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    padding: 15px 0;
    font-size: 110%;
}

.inputi {
    margin-top: 3vh;
    width: 12vw;
    height: 2.5vh;
}

#botão {
    height: 2.5vh;
    width: 10vw;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: rgb(211, 32, 211);
    filter: drop-shadow(3px 2px 3px #4444dd);
}